* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: black;
  font-family: sans-serif;
}

.foto {
  width: 60%;
  height: 60%;
  border-radius: 50px;
  border-top: 20px;
  border-color: orangered;
  border-style: dotted;
  border-width: 2px;
}

h1 {
  color: white;
  margin-top: 31px;
  margin-bottom: 8px;
  font-family: verdana;
}

p {
  color: orangered;
  font-size: larger;

}

p:hover {

  color: orange;
}

ul {
  margin-top: 35px;
}

li {
  margin-bottom: 10px;
  list-style: none;
}

a {
  background-color: orangered;
  color: white;
  padding: 15px;
  width: 90%;
  text-decoration: none;
  display: block;
  border-radius: 50px;
  border-style: dotted;
  border-width: 2px;
}

a:hover {
  background-color: white;
  color: orange;
}

.container {
  background-color: black;
  width: 320px;
  text-align: center;
  margin-top: 41px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  color: white;
}